.currencyinput {
  border: 1px inset #ccc;
}
.currencyinput input {
  border: 0;
}

.checklist-container {
  text-align: center;
  word-spacing: 2px;

  .age {
    display: inline-block;
    margin: 10px;
    border: 1px inset #ccc;
  }

  .currencyinput {
    display: inline-block;
    margin: 10px;
  }
}

