.journey-container {
  display: flex;
  flex-direction: column;
  margin: 10px;

  h1 {
    margin: 0;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }

    .descriptive-button:not(:first-child) {
      padding-left: 10px;

      @media screen and (max-width: 640px) {
        padding-left: 0px;
        padding-top: 20px;
      }
    }
  }
}




